.details{
    font-size: 75%;
}

body{
    background-color: #121212;
}

h1,h2,p{
    color: aliceblue;
    font-family: 'Roboto', Arial, Verdana, sans-serif;
}

.poster {
    height: 300px;
    width: auto;
    overflow: hidden;
}

.movieCard{
    height: 320px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding: 10px;
}

.description{
    padding: 10px;
}

.movieCardCont{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchButton{
    background-color: #E50914;
    height: 40px;
}

.inputNbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.searchField{
    height: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: aliceblue solid 2px;
    outline: none;
    background: transparent;
    color: aliceblue;
}