<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Employee</title>
  </head>
  <body>
    plz login
    <br />
    <form action="/employees/login" method="get">
      <label for="#firstName">First Name</label>
      <input id="firstName" name="firstName" type="text" />

      <label for="#lastName">Last Name</label>
      <input id="lastName" name="lastName" type="text" />

      <label for="#password">Password</label>
      <input type="text" name="password" id="password" />

      <label for="#clinicId">Clinic ID</label>
      <input type="text" name="clinicId" id="clinicId" />

      <input type="submit" value="Become Employee" />
    </form>
  </body>
</html>
