<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database To-Do</title>
    <link rel="stylesheet" href="../../css/main.css" />
  </head>
  <body>
    <h1 class="text-blue-700">Displaying HTML</h1>
    <br />

    Add to-do item:
    <br />
    <input id="task" type="text" />

    <hr />
    <div class="grid">
      <% result.rows.forEach((item)=>{%>
      <div><%=item.id%>. <%=item.task%></div>
      -<%= item.notes %> <% }) %>
    </div>
  </body>
  <script src="../../index.js"></script>
</html>
